<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASMR Study</title>

    <!--    Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <!--    Custom css 추가-->
    <link href="static/common.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet" >

    <!--jquery cdn추가-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!--cookie cdn추가-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--    페이지 아이콘-->
    <script>
        //페이지 로딩 완료 후, Server에서 시청자 수를 크롤링해 가져오기 위한 기능
        //다만 성능적으로 부하가 심하니 폐기
        /*
        $(window).on('load', function () {
            var target = $('.hotList').find('.col');
            target.each(function(){
                var link = $(this).find('img').attr("alt");
                var span = $(this).find('span');
                $.ajax({
                    type: "POST",
                    url: "/getViewers",
                    data: {
                        link: link
                    },
                    success: function (response) {
                        span.text(response['viewers']);
                    }
                })
            })
        })
        */
    </script>
    <script>
        function search() {
            let word = $("#input-word").val()

            if (word == "") {
                alert("검색어을 입력하세요")
            }else {
                alert(word)
                window.location.href='/search?word='+word
            }

        }
        function logout() {
            $.removeCookie('mytoken', {path: '/main'});
            alert('로그아웃')
            window.location.href = '/';
        }
    </script>
</head>

<body style="background-color: #303030">
<nav class="navbar navbar-expand-lg navbar-dark common-bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">
            <img src="static/logo2.svg" alt="" width="150" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">메인</a>
                </li>
            </ul>
        </div>
        <form class="d-flex">
            <a class="btn common-btn-grayblue" onclick="logout()">로그아웃</a>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 m-auto my-4">
            <div class="input-group">
                <input id="input-word" type="search" placeholder="원하는 ASMR 영상을 검색하세요" aria-label="Search" class="form-control" style="max-width: 800px;" />
                <div class="input-group-btn">
                    <button class="btn common-btn-grayblue" onclick="search()">검색</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 데이터 추가하기 modal -->
    <div>
{#        <a href="#" data-toggle="modal" data-target="#myModal">추가하기</a>#}
        <button id="open_modal" type="button" data-toggle="modal" data-target="#myModal">모달 창 열기</button>
        <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-l modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">ASMR 영상 추가하기</h4>
                    </div>

                    <!-- Modal body -->
                    <form id="myform" >
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">TITLE</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="link" class="col-sm-2 col-form-label">LINK</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="link">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="image" class="col-sm-2 col-form-label">IMAGE</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="image">
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="save_modal" type="button" class="btn btn-secondary">Save</button>
                        <button id="close_modal"type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="w-75 text-white m-auto">
        <h2>Hot list</h2>
    </div>
    <div id="asmr_content" class="d-flex flex-row flex-nowrap row row-cols-auto w-75 text-white m-auto common-over-hide">
        <!-- jinja2를 사용해 Server에서 처리되는 구문들 -->
        {% if asmrs %}
        {% for asmr in asmrs %}
        <div class="col">
            <div class="card common-bg-dark common-border-dark my-2" style="width: 18rem;">
                <img src="{{ asmr.img }}" class="card-img-top" alt="{{ asmr.link }}" onclick="location.href='{{ asmr.link }}';">
                <div class="card-body">
                    <p class="card-text common-post-text common-text-elli">{{ asmr.title }}</p>
                    <p>시청자 수: <span class="viewers">{{ asmr.viewers }}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>조회된 데이터가 없습니다.</h2>
        {% endif %}
    </div>

    <div class="w-75 text-white m-auto mt-5">
        <h2>즐겨찾기 list</h2>
    </div>
    <div id="star_content" class="d-flex flex-row flex-nowrap row row-cols-auto w-75 text-white m-auto common-over-hide">
        <!-- jinja2를 사용해 Server에서 처리되는 구문들 -->
        {% if stars %}
        {% for star in stars %}
        <div class="col">
            <div class="card common-bg-dark common-border-dark my-2" style="width: 18rem;">
                <img src="{{ star.img }}" class="card-img-top" alt="{{ star.link }}" onclick="location.href='{{ star.link }}';">
                <div class="card-body">
                    <p class="card-text common-post-text common-text-elli">{{ star.title }}</p>
                    <p>시청자 수: <span class="viewers">{{ star.viewers }}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>조회된 데이터가 없습니다.</h2>
        {% endif %}
    </div>
</div>
<script>
    $("#asmr_content, #star_content").on('mousewheel',function(e){
        var wheelDelta = e.originalEvent.wheelDelta;
        if(wheelDelta > 0){
            $(this).stop().animate({scrollLeft: -1000 + $(this).scrollLeft()}, 100);
        }else{
            $(this).stop().animate({scrollLeft: +1000 + $(this).scrollLeft()}, 100);
        }
        return false;
    });
</script>
<script>
    $('#open_modal').click(function (e) {
        e.preventDefault();
        $('#myModal').modal("show");
    });

    $('#close_modal').click(function (e) {
        $('#myModal').modal("hide");
    });

    $('#save_modal').click(function (e) {
        let title = $('#title').val()
        let link = $('#link').val()
        let img = $('#image').val()

        $.ajax({
            type: "POST",
            url: "/saveAsmr",
            data: {
                title_give: title,
                link_give: link,
                img_give: img
            },
            success: function (response) {
                $('#myform')[0].reset()
                $('#myModal').modal("hide")
                alert(response['msg'])
                window.location.reload()
            }
        });
    });




</script>
<script>
    {#function save_asmr() {#}
    {#    let title = $('#title').val()#}
    {#    let link = $('#link').val()#}
    {#    let img = $('#image').val()#}
    {##}
    {#    $.ajax({#}
    {#            type: "POST",#}
    {#            url: "/saveAsmr",#}
    {#            data: {#}
    {#                title_give: title,#}
    {#                link_give: link,#}
    {#                img_give: img#}
    {#            },#}
    {#            success: function (response) {#}
    {#                alert(response['msg'])#}
    {##}
    {#            }#}
    {#        });#}
    {# } #}
    {##}
</script>
</body>
</html>