<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASMR Study</title>

    <!--    Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <!--    Custom css 추가-->
    <link rel="stylesheet" href="../static/main.css">

    <!--jquery cdn추가-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!--cookie cdn추가-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--    페이지 아이콘-->
    <script>
        //페이지 로딩 완료 후, Server에서 시청자 수를 크롤링해 가져오기 위한 기능
        //다만 성능적으로 부하가 심하니 폐기
        /*
        $(window).on('load', function () {
            var target = $('.hotList').find('.col');
            target.each(function(){
                var link = $(this).find('img').attr("alt");
                var span = $(this).find('span');
                $.ajax({
                    type: "POST",
                    url: "/getViewers",
                    data: {
                        link: link
                    },
                    success: function (response) {
                        span.text(response['viewers']);
                    }
                })
            })
        })
        */
    </script>
    <script>
        $(document).ready(function () {
            showStar();
        });

        function search() {
            let word = $("#input-word").val()

            if (word == "") {
                alert("검색어을 입력하세요")
            }else {
                alert(word)
                window.location.href='/search?word='+word
            }

        }
        function deleteStar(id,username){
            $.ajax({
                type:'PUT',
                url :"/deleteStar",
                data:{id:id,
                    username:username
                },
                success : function (response){
                    console.log(response)
                    window.location.reload()
                }

            })
        }

        //이미 즐겨찾기 되어있는 곳에는 즐찾 버튼이 뜨지 않기
        function showStar(){
            let temp = {{ users_star | tojson }}
            for(let i=0; i<temp.length; i++){
                let idName = "btn"+temp[i]
                $('#'+idName).css({"display":"none"})
            }

            console.log(temp)
        }

        function addStar(id,username){
            let idName = "btn"+id
            $('#'+idName).css({"display":"none"})
            $.ajax({
                type:'PUT',
                url :"/addStar",
                data:{id:id,
                    username:username
                },
                success : function (response){
                    console.log(response)
                    window.location.reload()
                }

            })
        }

    </script>
</head>
<body>
<header>
    <div class="search">
        <input id="input-word" type="text"><button onclick="search()">검색</button>
    </div>

</header>
<section class="section">

</section>
<section class="section">
    <div class="container">
        <h2 class="title">Hot list</h2>
        <div class="hotList">
            <!-- jinja2를 사용해 Server에서 처리되는 구문들 -->
            {% if asmrs %}
            {% for asmr in asmrs %}
            <div class="col">
                    <img src="{{ asmr.img }}" width="360" alt="{{ asmr.link }}" onclick="location.href='{{ asmr.link }}';">
                <p>{{ asmr.title }}</p>
                <p>시청자 수: <span class="viewers">{{ asmr.viewers }}</span>
                    <button id="btn{{ asmr.id }}" class="starBtn" onclick="addStar({{ asmr.id }},'{{ username }}')">즐찾</button>
                </p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 clas="title">즐겨찾기</h2>
        <div class="hotList">
            {% for list in lists %}
                {% for li in list %}
                    <div class="col">
                        <img src="{{ li.img }}" width="360" alt="{{ li.link }}" onclick="location.href='{{ li.link }}';">
                        <p>{{ li.title }}</p>
                        <p>시청자 수: <span class="viewers">{{ li.viewers }}</span>
                            <button class="starBtn" onclick="deleteStar({{ li.id }},'{{ username }}')">즐겨찾기 해제</button>
                        </p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>