<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASMR Study</title>

    <!--    Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <!--    Custom css 추가-->
    <link href="static/common.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet" >

    <!--jquery cdn추가-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!--cookie cdn추가-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--    페이지 아이콘-->
    <script>
        //페이지 로딩 완료 후, Server에서 시청자 수를 크롤링해 가져오기 위한 기능
        //다만 성능적으로 부하가 심하니 폐기
        /*
        $(window).on('load', function () {
            var target = $('.hotList').find('.col');
            target.each(function(){
                var link = $(this).find('img').attr("alt");
                var span = $(this).find('span');
                $.ajax({
                    type: "POST",
                    url: "/getViewers",
                    data: {
                        link: link
                    },
                    success: function (response) {
                        span.text(response['viewers']);
                    }
                })
            })
        })
        */
    </script>
    <script>
        //북마크를 처음 보여준다.
        $(document).ready(function () {
            showStar();
        });
        // 검색어를 get방식으로 search페이지로 보내기
        function search() {
            let word = $("#input-word").val()

            if (word == "") {
                alert("검색어을 입력하세요")
            }else {
                window.location.href='/search?word='+word
            }

        }

        //즐겨찾기 지우기
        function deleteStar(id){
            $.ajax({
                type:'PUT',
                url :"/deleteStar",
                data:{id:id
                },
                success : function (response){
                    console.log(response)
                    window.location.reload()
                }

            })
        }

        //이미 즐겨찾기 되어있는 곳에는 즐찾 버튼이 뜨지 않기
        //안보이는 대신 예쁜 리본을 달아주기로 함(윤교)
        function showStar(){
            let temp = {{ users_star | tojson }}
            for(let i=0; i<temp.length; i++){
                let svgId = "svg"+temp[i];
                let btnId = "btn"+temp[i];
                $('#'+svgId).css({"fill":"#FCC400"});
                $('#'+btnId).attr("onclick", "deleteStar('"+temp[i]+"')");
            }

            console.log(temp)
        }

        //즐겨찾기 추가
        function addStar(id){
            $.ajax({
                type:'PUT',
                url :"/addStar",
                data:{id:id
                },
                success : function (response){
                    console.log(response)
                    window.location.reload()
                }
            })
        }

        function logout() {
            $.removeCookie('mytoken', {path: '/main'});
            alert('로그아웃')
            window.location.href = '/';
        }
    </script>
</head>

<body class="common-bg-lightdark">
<nav class="navbar navbar-expand-lg navbar-dark common-bg-dark em-14">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">
            <img src="static/logo2.svg" alt="" width="150" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">메인</a>
                </li>
                <li class="nav-item common-nav-show">
                    <a class="nav-link active" aria-current="page" onclick="logout()">로그아웃</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn common-btn-grayblue common-nav-hide text-right" onclick="logout()">로그아웃</a>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 m-auto my-4">
            <div class="input-group">
                <input id="input-word" type="search" placeholder="원하는 ASMR 영상을 검색하세요" aria-label="Search" class="form-control" style="max-width: 800px;" />
                <div class="input-group-btn">
                    <button class="btn common-btn-grayblue" onclick="search()">검색</button>
                </div>
            </div>
        </div>
    </div>

    <!-- asmr 추가하기 modal -->
    <div class="row">
        <div class="col m-auto text-center">
            <button id="open_modal" type="button" class="btn common-btn-grayblue" data-toggle="modal" data-target="#myModal">ASMR 추가하기</button>
        </div>
    </div>

    <div class="modal fade text-white" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-l modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header common-bg-dark border-0">
                    <h4 class="modal-title">ASMR 영상 추가하기</h4>
                </div>

                <!-- Modal body -->
                <form id="myform" >
                    <div class="modal-body common-bg-lightdark border-0">
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">TITLE</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="link" class="col-sm-2 col-form-label">LINK</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="link">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="image" class="col-sm-2 col-form-label">IMAGE</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="image">
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer common-bg-lightdark border-0">
                        <button id="save_modal" type="button" class="btn common-btn-grayblue">Save</button>
                        <button id="close_modal"type="button" class="btn common-btn-grayblue" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w-75 text-white m-auto">
        <h2>ASMR list</h2>
    </div>
    <div id="asmr_content" class="d-flex flex-row flex-nowrap row row-cols-auto w-75 text-white m-auto common-over-hide common-scrollbar">
        <!-- jinja2를 사용해 Server에서 처리되는 구문들 -->
        {% if asmrs %}
        {% for asmr in asmrs %}
        <div class="col">
            <div class="card common-bg-dark common-border-dark my-2" style="width: 18rem; height: 95%">
                <iframe width="272px" height="150px"
                        src="{{ asmr.link }}">
                </iframe>
                <div class="card-body">
                    <p class="card-text common-post-text common-text-elli">{{ asmr.title }}</p>
                    <p class="common-viewer-text">시청자 수: {{ asmr.viewers }}
                    </p>
                </div>

                <div class="common-bookmark" id="btn{{ asmr._id }}" onclick="addStar('{{ asmr._id }}')">
                    <svg id="svg{{ asmr._id }}"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="">
                        <g id="icomoon-ignore"></g>
                        <path d="M96 0v512l160-160 160 160v-512z"></path>
                    </svg>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>조회된 데이터가 없습니다.</h2>
        {% endif %}
    </div>

    <div class="w-75 text-white m-auto mt-5">
        <h2>즐겨찾기 list</h2>
    </div>
    <div id="star_content" class="d-flex flex-row flex-nowrap row row-cols-auto w-75 text-white m-auto common-over-hide common-scrollbar">
        <!-- jinja2를 사용해 Server에서 처리되는 구문들 -->
        {% if lists %}
            {% for list in lists %}
                {% for li in list %}
                    <div class="col">
                        <div class="card common-bg-dark common-border-dark my-2" style="width: 18rem; height: 95%">
                            <a href="{{ li.link }}" target="_blank">
                                <img src="{{ li.img }}" class="card-img-top" alt="{{ li.link }}">
                            </a>
                            <div class="card-body">
                                <p class="card-text common-post-text common-text-elli">{{ li.title }}</p>
                                <p class="common-viewer-text">시청자 수: {{ li.viewers }}
                                </p>
                            </div>

                            <div class="common-bookmark" onclick="deleteStar('{{ li._id }}')">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="fill:#FCC400">
                                    <g id="icomoon-ignore"></g>
                                    <path d="M96 0v512l160-160 160 160v-512z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
        <h2>조회된 데이터가 없습니다.</h2>
        {% endif %}
    </div>
</div>

<script>
    //asmr 영역에서 마우스 휠 이용시 스크롤이 되도록 이벤트 등록
    $("#asmr_content, #star_content").on('mousewheel',function(e){
        //휠 이동 값을 가져옴
        var wheelDelta = e.originalEvent.wheelDelta;
        //휠 이동의 음수, 정수 구분에 따라서 왼쪽, 오른쪽 구분 후 가감 진행
        if(wheelDelta > 0){
            //현재 요소의 스크롤 위치에 따라서 가감을 하는 방식으로 스크롤 진행
            //이벤트 중첩을 막기 위해 현재 진행중인 이벤트를 중단시킨 뒤 스크롤 이벤트를 새로 진행
            $(this).stop().animate({scrollLeft: -1000 + $(this).scrollLeft()}, 100);
        }else{
            $(this).stop().animate({scrollLeft: +1000 + $(this).scrollLeft()}, 100);
        }
        //스크롤 이벤트가 다른 이벤트에 영향을 받지 않도록 false를 반환해 이벤트를 종료시킴
        return false;
    });
</script>

<script>
    // 모달창 열기
    $('#open_modal').click(function (e) {
        e.preventDefault();
        $('#myModal').modal("show");
    });
    // 모달창 닫기
    $('#close_modal').click(function (e) {
        $('#myModal').modal("hide");
    });
    // 데이터 저장하기
    $('#save_modal').click(function (e) {
        let title = $('#title').val()
        let link = $('#link').val()
        let img = $('#image').val()

        // 데이터 유효성 검사
        if (title == "") {
            alert("제목을 입력해주세요")
            $("#title").focus()
            return;
        }
        if (link == "") {
            alert("URL주소를 입력해주세요")
            $("#link").focus()
            return;
        }
        if (img == "") {
            alert("이미지 주소를 입력해주세요")
            $("#image").focus()
            return;
        }

        // 모달창에서 입력받은 데이터 서버로 보내기
        $.ajax({
            type: "POST",
            url: "/saveAsmr",
            data: {
                title_give: title,
                link_give: link,
                img_give: img
            },
            success: function (response) {
                // 모달창 입력값 초기화
                $('#myform')[0].reset()
                // 모달창 닫기
                $('#myModal').modal("hide")
                alert(response['msg'])
                window.location.reload()
            }
        });
    });
</script>
</body>
</html>